version: "3.9"

services:
  todo-app:
    build: .
    container_name: todo-app
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - ./data/h2:/app/data/h2   # Persist H2 DB file