package {{package}};

import org.springframework.stereotype.Component;
import org.springframework.context.annotation.Scope;
import com.fasterxml.jackson.annotation.JsonProperty;

{{#description}}
    /**
    * {{description}}
    */
{{/description}}
@Component
@Scope("prototype")
public class {{classname}} {

{{#vars}}
    @JsonProperty("{{baseName}}")
    private {{datatype}} {{name}};

    public {{datatype}} get{{getter}}() {
    return {{name}};
    }

    public void set{{getter}}({{datatype}} {{name}}) {
    this.{{name}} = {{name}};
    }
{{/vars}}

}